html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #0f0f0f;
  margin: 0; /* Kein Margin */
  padding: 0; /* Kein Padding */
}

* {
  box-sizing: border-box; /* Sorgt dafür, dass Padding und Border zur Elementgröße zählen */
}
