/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Sicherstellen, dass Padding und Border die Größe des Elements nicht erweitern */
}
#root {
  background-color: #0f0f0f; /* Schwarzer Hintergrund */
  min-height: 100vh; /* Damit der Hintergrund auch den gesamten Viewport abdeckt */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Höhe des gesamten Viewports */
  width: 100%; /* Breite des gesamten Viewports */
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
  background-color: #0f0f0f;
  font-family: Arial, sans-serif;
}

/* Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Stellt sicher, dass der Container immer die volle Höhe hat */
  width: 100vw; /* Stellt sicher, dass der Container die volle Breite einnimmt */
  background-color: #0f0f0f;
}

/* Buttons */
.primaryButton,
.secondaryButton,
.disabledButton {
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: 1px solid white;
  transition: background-color 0.3s ease;
}

.btn.primaryButton {
  background-color: black;
  color: white;
  border-color: white;
}

.btn.primaryButton:hover {
  background-color: #302f2f;
  border-color: white;
}

.btn.secondaryButton {
  background-color: white;
  color: black;
}

.btn.secondaryButton:hover {
  background-color: #6c6a6a;
}

.btn.disabledButton {
  background-color: gray;
  color: black;
  cursor: not-allowed;
}

/* Input */
.inputText {
  height: 2rem;
  width: 13rem;
  font-size: 1rem;
  margin-bottom: 1rem; /* Abstand zum nächsten Element */
  padding: 0.5rem; /* Innenabstand für bessere Lesbarkeit */
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  outline: none; /* Entfernt standardmäßigen Fokus-Stil */
}

.inputText:focus {
  border-color: #6c6a6a; /* Stiländerung beim Fokus */
}