@media only screen and (max-width: 1700px) {
  .applayout {
    display: flex;
    flex-direction: row;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 88vw;
    height: 100vh;
  }
}
