@media only screen and (max-width: 2000px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 39rem;
    width: 80rem;
    font-size: 1em;
    color: white;
  }
  .containerContent {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 0.5rem;
  }

  .header {
    margin: 0rem;
  }
}
@media only screen and (max-width: 1920px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 39rem;
    width: 80rem;
    font-size: 1em;
    color: white;
  }
  .containerContent {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 0.5rem;
  }

  .header {
    margin: 0rem;
  }
}
@media only screen and (max-width: 1700px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 39rem;
    width: 48rem;
    font-size: 1em;
    color: white;
  }
  .containerContent {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 0.5rem;
  }
  .header {
    margin: 0rem;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 39rem;
    width: 59rem;
    font-size: 1em;
    margin: 0 auto;
    color: white;
  }
  .containerContent {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 0.5rem;
  }

  .header {
    margin: 0rem;
  }
}
