.container {
  display: flex;
  flex-direction: column;
}
.buttonContainer {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
}
.content {
  display: flex;
  flex-wrap: wrap;
  height: 32rem;
  width: 80rem;
  margin-left: 5rem;
  overflow-y: scroll;
}
