@media only screen and (max-width: 2000px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 17rem;
    width: 25rem;
  }
  .content {
    display: flex;
    flex-direction: row;
    width: 25rem;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-size: 1.2em;
  }
  .formInput {
    height: 2rem;
  }
  .numberPicker {
    align-self: center;
    width: 10rem;
  }
  .inputNumber {
    height: 2rem;
    width: 2.5rem;
  }
  .inputNumber::-webkit-inner-spin-button {
    height: 2rem;
  }
  .buttonContainer {
    display: flex;
    width: 11rem;
    margin-top: 1rem;
    justify-content: space-between;
  }
}
/* Fertig 1920px */
@media only screen and (max-width: 1920px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 25rem;
  }
  .content {
    display: flex;
    flex-direction: row;
    width: 25rem;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-size: 1.2em;
  }
  .formInput {
    height: 2rem;
    font-size: 0.75em;
  }
  .numberPicker {
    align-self: center;
    width: 10rem;
  }
  .inputNumber {
    height: 2rem;
    width: 2.5rem;
    font-size: 0.75em;
  }
  .inputNumber::-webkit-inner-spin-button {
    height: 2rem;
  }
  .buttonContainer {
    display: flex;
    width: 25rem;
    margin-top: 1rem;
    justify-content: space-between;
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 1700px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 18rem;
    width: 25rem;
  }
  .content {
    display: flex;
    flex-direction: row;
    width: 25rem;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-size: 1.2em;
  }
  .formInput {
    height: 2rem;
    font-size: 0.75em;
  }
  .numberPicker {
    align-self: center;
    width: 10rem;
  }
  .inputNumber {
    height: 2rem;
    width: 3rem;
    font-size: 0.75em;
  }
  .inputNumber::-webkit-inner-spin-button {
    height: 2rem;
  }
  .buttonContainer {
    display: flex;
    width: 15rem;
    margin-top: 1rem;
    margin-left: 10rem;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 25rem;
  }
  .content {
    display: flex;
    flex-direction: row;
    width: 25rem;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-size: 1.2em;
  }
  .formInput {
    height: 2rem;
  }
  .numberPicker {
    align-self: center;
    width: 10rem;
  }
  .inputNumber {
    height: 2rem;
    width: 2.5rem;
  }
  .inputNumber::-webkit-inner-spin-button {
    height: 2rem;
  }
  .buttonContainer {
    display: flex;
    width: 25rem;
    margin-top: 1rem;
    justify-content: space-between;
    font-size: 1.25em;
  }
}
