@media only screen and (max-width: 3000px) {
    .compartment {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 3px solid #000;
        color: black;
        font-size: 12px;
        box-sizing: border-box;
    }
    .content {
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 5rem;
    }
}
@media only screen and (max-width: 2000px) {
    .compartment {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 3px solid #000;
        color: black;
        font-size: 12px;
        box-sizing: border-box;
    }
    .content {
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 5rem;
    }
}
@media only screen and (max-width: 1920px) {
    .compartment {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 3px solid #000;
        color: black;
        font-size: 12px;
        box-sizing: border-box;
    }
    .content {
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 5rem;
    }
}
@media only screen and (max-width: 1700px) {
    .compartment {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 3px solid #000;
        color: black;
        font-size: 12px;
        box-sizing: border-box;
    }
    .content {
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 5rem;
    }
}
@media only screen and (max-width: 1200px) {
    .compartment {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 3px solid #000;
        color: black;
        font-size: 12px;
        box-sizing: border-box;
    }
    .content {
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 5rem;
    }
}
