@media only screen and (max-width: 3000px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        border: 0.125rem solid white;
        border-radius: 0.215rem;
        height: 5rem;
        width: 25rem;
        margin-bottom: 1rem;
    }
    .buttonContainer{
        display: flex;
        width: 10rem;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
    }
    .editButton{
        width: 2.5rem;
        height: 1.5rem;
    }
    .deleteContainer{
        display: flex;
        height: 5rem;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
    }
}
@media only screen and (max-width: 2000px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        border: 0.125rem solid white;
        border-radius: 0.215rem;
        height: 5rem;
        width: 25rem;
        margin-bottom: 1rem;
    }
    .buttonContainer{
        display: flex;
        width: 10rem;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
    }
    .editButton{
        width: 2.5rem;
        height: 1.5rem;
    }
    .deleteContainer{
        display: flex;
        height: 5rem;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
    }
}
@media only screen and (max-width: 1900px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        border: 0.125rem solid white;
        border-radius: 0.215rem;
        height: 5rem;
        width: 25rem;
        margin-bottom: 1rem;
    }
    .buttonContainer{
        display: flex;
        width: 10rem;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
    }
    .editButton{
        width: 2.5rem;
        height: 1.5rem;
    }
    .deleteContainer{
        display: flex;
        height: 5rem;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
    }
}
@media only screen and (max-width: 1920px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        border: 0.125rem solid white;
        border-radius: 0.215rem;
        height: 5rem;
        width: 25rem;
        margin-bottom: 1rem;
    }
    .buttonContainer{
        display: flex;
        width: 10rem;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
    }
    .editButton{
        width: 2.5rem;
        height: 1.5rem;
    }
    .deleteContainer{
        display: flex;
        height: 5rem;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
    }
}
@media only screen and (max-width: 1700px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        border: 0.125rem solid white;
        border-radius: 0.215rem;
        height: 5rem;
        width: 25rem;
        margin-bottom: 1rem;
    }
    .buttonContainer{
        display: flex;
        width: 10rem;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
    }
    .editButton{
        width: 2.5rem;
        height: 1.5rem;
    }
    .deleteContainer{
        display: flex;
        height: 5rem;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
    }
}
@media only screen and (max-width: 1200px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        border: 0.125rem solid white;
        border-radius: 0.215rem;
        height: 5rem;
        width: 25rem;
        margin-bottom: 1rem;
    }
    .buttonContainer{
        display: flex;
        width: 10rem;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
    }
    .editButton{
        width: 2.5rem;
        height: 1.5rem;
    }
    .deleteContainer{
        display: flex;
        height: 5rem;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
    }
}