@media only screen and (max-width: 3000px) {
.container{
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 25rem;
    color: white;
}
.contentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    height: 10rem;
}
.placeInput{
    height: 1.5rem;
    width: 10rem;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}}
@media only screen and (max-width: 2000px) {
.container{
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 25rem;
    color: white;
}
.contentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    height: 10rem;
}
.placeInput{
    height: 1.5rem;
    width: 10rem;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}}
@media only screen and (max-width: 1920px) {
.container{
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 25rem;
    color: white;
}
.contentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    height: 10rem;
}
.placeInput{
    height: 1.5rem;
    width: 10rem;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}}
@media only screen and (max-width: 1700px) {
.container{
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 25rem;
    color: white;
}
.contentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    height: 10rem;
}
.placeInput{
    height: 1.5rem;
    width: 10rem;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}}
@media only screen and (max-width: 1200px) {
.container{
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 25rem;
    color: white;
}
.contentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    height: 10rem;
 }
.placeInput{
    height: 1.5rem;
    width: 10rem;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
}