@media only screen and (max-width: 2000px) {
  .container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 85rem;
    height: 100vh;
  }
  .buttonContainer {
    display: flex;
    width: 40rem;
    height: 5rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .categorySelection {
    width: 10rem;
    height: 1.8rem;
  }
  .content {
    display: flex;
    margin: 1rem;
  }
  .tableContainer {
    width: 52rem;
    height: 35rem;
    margin: 0 auto;
  }
  .tableContainer table {
    width: 50rem;
    margin: 0 auto; /* Automatische Zentrierung der Tabelle */
    border-collapse: collapse; /* Verhindert das Verdoppeln der Zellengrenzen */
    overflow-y: scroll;
  }
  .content table th {
    font-weight: bold;
  }
  .content thead {
    height: 2rem;
    position: sticky;
    top: 0;
    color: black;
    background-color: white; /* Hintergrundfarbe des fixierten Headers */
    z-index: 1; /* Stellt sicher, dass der Header über den Tabelleneinträgen liegt */
  }
  .content th,
  .content td {
    border: 0.0625rem solid white; /* Einfache 1-Pixel-Grenze */
    text-align: center;
  }
  .input::-webkit-inner-spin-button {
    height: 3rem;
  }
  .editContainer {
    display: flex;
    justify-content: space-around;
  }
  .inputSearch {
    height: 1.5rem;
    margin-left: 10.75rem;
  }
}
@media only screen and (max-width: 1920px) {
  .container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 85rem;
    height: 100vh;
    font-size: 1.25em;
  }
  .buttonContainer {
    display: flex;
    align-items: center;
    width: 43rem;
    justify-content: space-between;
    height: 5rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .categorySelection {
    width: 10rem;
    height: 1.8rem;
  }
  .content {
    display: flex;
    justify-content: center;
    width: 103rem;
    height: 64rem;
    margin: 0 auto;
    margin-left: 1rem;
  }
  .tableContainer {
    width: 90rem;
    height: 35rem;
    margin: 0 auto;
  }
  .tableContainer table {
    width: 65rem;
    margin: 0 auto; /* Automatische Zentrierung der Tabelle */
    border-collapse: collapse; /* Verhindert das Verdoppeln der Zellengrenzen */
    overflow-y: scroll;
  }
  table th {
    font-weight: bold;
  }
  thead {
    height: 5rem;
    width: 20rem;
    position: sticky;
    top: 0;
    color: black;
    background-color: white; /* Hintergrundfarbe des fixierten Headers */
    z-index: 1; /* Stellt sicher, dass der Header über den Tabelleneinträgen liegt */
  }
  th,
  td {
    height: 5rem;
    border: 0.0625rem solid white; /* Einfache 1-Pixel-Grenze */
    text-align: center;
  }
  .input::-webkit-inner-spin-button {
    height: 3rem;
  }
  .editContainer {
    display: flex;
    justify-content: space-around;
  }
  .inputSearch {
    height: 1.5rem;
  }
}
@media only screen and (max-width: 1700px) {
  .container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 84rem;
    height: 100vh;
    font-size: 1em;
  }
  .buttonContainer {
    display: flex;
    align-items: center;
    width: 30.125rem;
    justify-content: space-between;
    height: 5rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .content {
    display: flex;
    width: 80rem;
    justify-content: space-between;
    height: 33rem;
  }
  .categorySelection {
    width: 10rem;
    height: 1.8rem;
  }
  .tableContainer {
    width: 51rem;
    height: 30rem;
    overflow-y: scroll;
  }
  .tableContainer table {
    width: 50rem;
    margin: 0 auto; /* Automatische Zentrierung der Tabelle */
    border-collapse: collapse; /* Verhindert das Verdoppeln der Zellengrenzen */
  }
  table th {
    font-weight: bold;
  }
  thead {
    position: sticky;
    height: 3rem;
    top: 0;
    color: black;
    background-color: white; /* Hintergrundfarbe des fixierten Headers */
    z-index: 1; /* Stellt sicher, dass der Header über den Tabelleneinträgen liegt */
  }
  th,
  td {
    height: 3rem;
    border: 0.0625rem solid white; /* Einfache 1-Pixel-Grenze */
    text-align: center;
  }
  .input::-webkit-inner-spin-button {
    height: 3rem;
  }
  .editContainer {
    display: flex;
    justify-content: space-around;
  }
  .inputSearch {
    height: 1.5rem;
  }
}
