@media only screen and (max-width: 2000px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10rem;
    width: 10rem;
  }
  .filterRow {
    display: flex;
    flex-direction: column;
  }
  .categorySelection {
    width: 10rem;
    height: 1.8rem;
    margin: 0;
  }
  .container p {
    margin: 0;
  }
  .buttonContainer {
    font-size: 0.75em;
    margin-top: 0.5rem;
  }
}
@media only screen and (max-width: 1920px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15rem;
    width: 10rem;
    font-size: 1.25em;
  }
  .filterRow {
    display: flex;
    flex-direction: column;
  }
  .categorySelection {
    width: 10rem;
    height: 1.8rem;
    margin: 0;
  }
  .container p {
    margin: 0;
  }
  .buttonContainer {
    font-size: 0.75em;
    margin-top: 0.5rem;
  }
}
@media only screen and (max-width: 1700px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15rem;
    width: 10rem;
  }
  .filterRow {
    display: flex;
    flex-direction: column;
  }
  .categorySelection {
    width: 10rem;
    height: 1.8rem;
    margin: 0;
  }
  .container p {
    margin: 0;
  }
  .buttonContainer {
    font-size: 0.75em;
    margin-top: 0.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 45rem;
    margin-left: 0.5rem;
  }
  .filterRow {
    display: flex;
    flex-direction: column;
  }
  .categorySelection {
    width: 10rem;
    height: 1.8rem;
    margin: 0;
  }
  .container p {
    margin: 0;
  }
  .buttonContainer {
    font-size: 0.75em;
    margin-top: 1.25rem;
  }
}
