@media only screen and (max-width: 2000px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #171717;
    font-weight: bold;
    align-items: center;
    height: 5rem;
    width: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
    font-size: 1.3em;
  }
  .nameContainer {
    width: 30rem;
    margin-left: 1rem;
  }
  .editContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 5rem;
    margin-right: 1rem;
    flex-shrink: 0;
  }
}
@media only screen and (max-width: 1920px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #171717;
    font-weight: bold;
    align-items: center;
    height: 5rem;
    width: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
    font-size: 1.3em;
  }
  .nameContainer {
    width: 30rem;
    margin-left: 1rem;
  }
  .editContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 5rem;
    margin-right: 1rem;
    flex-shrink: 0;
  }
}
@media only screen and (max-width: 1700px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #171717;
    font-weight: bold;
    align-items: center;
    height: 5rem;
    width: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
    font-size: 1.3em;
  }
  .nameContainer {
      width: 30rem;
      margin-left: 1rem;
  }  
  .editContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 5rem;
    margin-right: 1rem;
    flex-shrink: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #171717;
    font-weight: bold;
    align-items: center;
    height: 5rem;
    width: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
    font-size: 1.3em;
  }
  .nameContainer {
    width: 30rem;
    margin-left: 1rem;
  }
  .editContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 5rem;
    margin-right: 1rem;
    flex-shrink: 0;
  }
}
