@media only screen and (max-width: 1700px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 20rem;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
}
