@media only screen and (max-width: 2000px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 20rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 12rem;
    width: 20rem;
    overflow-y: scroll;
    justify-content: space-between;
  }
  .buttonContainer {
    display: flex;
    height: 3rem;
    width: 12rem;
    margin-top: 1rem;
    margin-left: 8rem;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 1920px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 20rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 12rem;
    width: 20rem;
    overflow-y: scroll;
    justify-content: space-between;
  }
  .buttonContainer {
    display: flex;
    height: 3rem;
    width: 12rem;
    margin-top: 1rem;
    margin-left: 8rem;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 1700px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 20rem;
    overflow-y: scroll;
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 12rem;
    width: 20rem;
    justify-content: space-between;
  }
  .buttonContainer {
    display: flex;
    height: 3rem;
    width: 12rem;
    margin-top: 1rem;
    margin-left: 8rem;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 20rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 12rem;
    width: 20rem;
    overflow-y: scroll;
    justify-content: space-between;
  }
  .buttonContainer {
    display: flex;
    height: 3rem;
    width: 12rem;
    margin-top: 1rem;
    margin-left: 8rem;
    justify-content: space-between;
  }
}
