@media only screen and (max-width: 3000px) {
  .backupFieldset {
    border-radius: 0.5rem;
    background-color: #121212;
    height: 15rem;
    width: 55rem;
    font-size: 1.25em;
    margin-top: 2rem;
  }
  .backupContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
    height: 3rem;
  }
  .backupPathContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
  }
  .backupPathContainer p {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
  .inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
  }
  .folder {
    font-size: 1.5em;
  }
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 30rem;
  }
}
@media only screen and (max-width: 2000px) {
  fieldset {
    border-radius: 0.5rem;
    background-color: #121212;
    height: 15rem;
    width: 30rem;
    font-size: 1.25em;
    margin-top: 2rem;
  }
  .backupContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
    height: 3rem;
  }
  .backupPathContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
  }
  .backupPathContainer p {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
  .inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
  }
  .folder {
    font-size: 1.5em;
  }
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 30rem;
  }
}
@media only screen and (max-width: 1920px) {
  .backupFieldset {
    border-radius: 0.5rem;
    background-color: #121212;
    height: 15rem;
    width: 55rem;
    font-size: 1.25em;
    margin-top: 2rem;
  }
  .backupContainer {
    display: flex;
    flex-direction: row;
    height: 3rem;
  }
  .backupPathContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
  }
  .backupPathContainer p {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
  .inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
  }
  .folder {
    font-size: 1.5em;
  }
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 30rem;
  }
}
@media only screen and (max-width: 1700px) {
  .backupFieldset {
    border-radius: 0.5rem;
    background-color: #121212;
    height: 15rem;
    width: 55rem;
    font-size: 1.25em;
    margin-top: 2rem;
  }
  .backupContainer {
    display: flex;
    flex-direction: row;
    height: 3rem;
  }
  .backupPathContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
  }
  .backupPathContainer p {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
  .inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
  }
  .folder {
    font-size: 1.5em;
  }
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 30rem;
  }
}
@media only screen and (max-width: 1200px) {
  .backupFieldset {
    border-radius: 0.5rem;
    background-color: #121212;
    height: 15rem;
    width: 55rem;
    font-size: 1.25em;
    margin-top: 2rem;
  }
  .backupContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
    height: 3rem;
  }
  .backupPathContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    height: 5rem;
  }
  .backupPathContainer p {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
  .inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
  }
  .folder {
    font-size: 1.5em;
  }
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 30rem;
  }
}
