@media only screen and (max-width: 2000px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 20rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 6rem;
    justify-content: space-between;
  }
  .regalSelection {
    height: 2.5rem;
    width: 16rem;
    font-size: 0.75em;
  }
  .shelfContainer {
    display: flex;
    flex-direction: row;
    width: 16rem;
    justify-content: space-between;
  }
  .buttonContainer {
    display: flex;
    width: 18rem;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 1920px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 25rem;
    font-size: 1.15em;
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 6rem;
    justify-content: space-between;
    font-size: 1.15em;
  }
  .regalSelection {
    height: 2.5rem;
    width: 16rem;
    font-size: 1.15em;
  }
  .shelfContainer {
    display: flex;
    flex-direction: row;
    width: 16rem;
    justify-content: space-between;
  }
  .buttonContainer {
    display: flex;
    width: 20rem;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 1700px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 20rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 6rem;
    justify-content: space-between;
  }
  .regalSelection {
    height: 2.5rem;
    width: 16rem;
    font-size: 0.75em;
  }
  .shelfContainer {
    display: flex;
    flex-direction: row;
    width: 16rem;
    justify-content: space-between;
  }
  .buttonContainer {
    display: flex;
    width: 18rem;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 25rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 6rem;
    justify-content: space-between;
  }
  .regalSelection {
    height: 2.5rem;
    width: 16rem;
    font-size: 0.75em;
  }
  .shelfContainer {
    display: flex;
    flex-direction: row;
    width: 16rem;
    justify-content: space-between;
  }
  .buttonContainer {
    display: flex;
    width: 25rem;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
}
