.container {
  display: flex;
  flex-direction: column;
  color: white;
  height: 10rem;
  width: 15rem;
}
.content {
  display: flex;
  flex-direction: column;
}
.buttonContainer {
  margin-top: 1rem;
  display: flex;
  margin-left: 2rem;
  width: 13rem;
  justify-content: space-between;
}
