@media only screen and (max-width: 2000px) {
  .container {
    display: flex;
    flex-direction: column;
    color: white;
    height: 10rem;
    width: 15rem;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .buttonContainer {
    margin-top: 1rem;
    display: flex;
    margin-left: 2rem;
    width: 13rem;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 1920px) {
  .container {
    display: flex;
    flex-direction: column;
    color: white;
    height: 10rem;
    width: 15rem;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .buttonContainer {
    margin-top: 1rem;
    display: flex;
    margin-left: 2rem;
    width: 13rem;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 1700px) {
  .container {
    display: flex;
    flex-direction: column;
    color: white;
    height: 10rem;
    width: 20rem;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .buttonContainer {
    margin-top: 1rem;
    display: flex;
    width: 18rem;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    color: white;
    height: 12rem;
    width: 20rem;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .buttonContainer {
    margin-top: 1rem;
    display: flex;
    margin-left: 2rem;
    width: 18rem;
    justify-content: space-between;
  }
}
